*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #fff78e;
}
header {
    background: linear-gradient(135deg, #fffc63 100% ,#b9a15f 0%);
    color: #000000;
    text-align: center;
    padding: 4rem 1rem;
    box-shadow: 0 4px 20px rgb(255, 147, 75);
}
header h1{
    font-size: 3.2rem;
    margin-bottom: 0.6rem;
    font-weight: 700;
    letter-spacing: -0.5px;
}

header a{
    font-size: 50px;
}
header p{
    font-size: 1.35rem;
    opacity: 0.92;
    font-weight: 300;
}
.container{
    max-width: 800px;
    margin: 2.5rem auto;
    padding: 0 1.5rem;
}
section{
    background-color:#fff172(255, 0, 0);
    border-radius: 12px;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}
section:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 28px rgb(255, 255, 255);
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1.5rem;
}
ul li{
    background-color: #ebd575;
    padding: 1rem 1.8rem;
    border-radius: 10px;
    font-size: 1.15rem;
    font-weight: 600;
    transition: all 0.3s ease;
    border: 1px solid #ebd575;
}
ul a{
    text-decoration: none;
    color: #000000;
    display: block;
}
ul li:hover{
    background: #d6966b;
    color: rgb(0, 0, 0);
}
section p{
    font-size: 1.5rem;
    color: #000000;
}       
footer{
    text-align: center;
    padding: 2rem;
    margin-top: 2rem ;
    background-color: #fffd9f;
    color: rgb(0, 0, 0);
    font-family: 'franklin gothic medium', 'arial narrow', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer a{
    font-family: "betania patmos gdl", cursive;
    font-weight: 400;
    font-style: normal;
}